// 颜色定义规范
@color-top-bg : #2d3e50;
@color-blue-l : #1879c5;
@color-blue-b : #2996eb;
@color-blue-t : #899faa;
@color-red-l : #eb5255;
@color-red-b:#c64446;
@color-strong : #2d3e50;
@color-normal : #666;
@color-normal-l : #999;
@color-white : #fff;
@color-gray:#edf0f5;
@color-border:#dcdcdc;
@color-drop-active:#4b5f74;

//字体定义规范
@f12 : 12px;
@f14 : 14px;
@f16 : 16px;
@f18 : 18px;
@f20 : 20px;

// 宽高尺寸
@border-w:2px;
